@font-face {
   font-family: iranSans;
   src: url(../fonts/DanaFaNum-Medium.woff);
}
* {
   font-family: iranSans !important;
}

@media only screen and (max-width: 980px) {
   .back1,
   .back2 {
      background-size: contain;
   }
}
@media only screen and (min-width: 980px) {
   .back1,
   .back2 {
      background-size: initial;
   }
}
